@font-face {
    font-family: 'Nunito-Regular400', sans-serif;
    src: url(../fonts/Nunito-Regular400.ttf);
}
@font-face {
    font-family: 'Nunito-Medium500', sans-serif;
    src: url(../fonts/Nunito-Medium500.ttf);
}
@font-face {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    src: url(../fonts/Nunito-ExtraBold800.ttf);
}

 
:root {
    --header-text-color: #00FFF5;
    --section-text-color:#00FFF5;
    --third-section-color:#FFFFFF;
}
.conteiner {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.title {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
    color: var(--header-text-color);
    text-align: center;
}
button {
    font-family: 'Nunito-Regular400', sans-serif;
    color: #FFFFFF;
    background: #00FFF5;
    border-radius: 30px;
    padding: 12px 43px;
    cursor: pointer;
    display: flex;
    text-transform: capitalize;

}
.section-button {
    display: flex;
    justify-content: center;
}

body {
    background: #03102C;
}










.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
}
.header-nav-li-conteiner ul {
    display: flex;
    column-gap: 55px;
}
.header-nav-li-conteiner ul li a {
    font-family: 'Nunito-Medium500', sans-serif;
    color: var(--header-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;  
    text-transform: capitalize;
    cursor: pointer;
}
.header-nav-li-conteiner ul li a:hover {
    text-shadow: 2px 0px 20px #00fff5;
    transform: scale(1.1);
}
.header-portfolio-conteiner ul a {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    color: var(--header-text-color);
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    cursor: pointer;
}
.header-portfolio-conteiner ul a:hover {
    text-shadow: 2px 0px 20px #00fff5;
    transform: scale(1.1);
}
.resume-conteiner a {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    color: var(--header-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px dashed #0066FF;
    border-radius: 30px;
    padding: 15px 30px;
}
.resume-conteiner a:hover {
    text-shadow: 2px 0px 20px #00fff5;
    transform: scale(1.1);
}
/* burger bar */
.hamburger {
    display: none;
    cursor: pointer;
}
.line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--header-text-color);
}










/* section about me */
.about-me-section {
    margin: 168px 0 150px 0;
}
.about-me-section-wrapper {
    display: flex;
}
.profile-img-conteiner {
    border: 1px dashed #0066FF;
    border-radius: 30px;
    max-height: 450px;
}
.profile-img-conteiner img {
    border-radius: 30px;
    padding: 30px;
    transition: 0.5s;
    transition-timing-function: ease-out;
}
.profile-img-conteiner img:hover {
    transform: scale(1.1);
}
.about-me-text-conteiner {
    padding: 126px 104px 0px 84px;
    position: relative;
}
.about-me-text-conteiner span {
    font-family: 'Nunito-Medium500', sans-serif;
    color: var(--section-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
}
.about-me-text-conteiner p {
    font-family: 'Nunito-Regular400', sans-serif;
    color: var(--section-text-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    padding: 50px 0px;
    text-transform: initial;
}
.icon-contener {
    display: flex;
    flex-direction: column;
    right: 40px;
    top: 270px;
    row-gap: 24px;
    position: absolute;
}

.icon-contener div {
    border-right: 1px solid #0066FF;
    height: 300px;
    margin-right: 10px;
}

.about-me-more-button-conteiner {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 370px;
}
.about-me-more-button-conteiner button {
    max-width: 50px;
    border-radius: 30px;
    padding: 40px 10px 12px 10px;
    background: inherit;
    color: #00FFF5;
    border: 1px solid #00FFF5;
    cursor: pointer;
}
.about-me-more-button-conteiner button:hover {
    border: 1px solid #0066FF;
}

.about-me-more-button-conteiner div {
    padding-top: 28px;
}
.about-me-more-button-conteiner div span {
    font-family: 'Nunito-Medium500', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #0066FF;
}




/* scroll */
html {
    scroll-behavior: smooth;
}
.to-top {
    background: wheat;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.to-top svg {
    rotate: 180deg;
}
















/*work section */

.work-section-wrapper {
    padding-bottom: 150px;
}
.work-section-img-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 60px;
    padding: 40px 0px 60px 0px;
}
.work-img-conteiner {
    position: relative;
    border: 1px dashed #0066FF;
    border-radius: 30px;
    padding: 39px 36px;
    max-width: 280px;
    max-height: 300px;
}
.projact-imgs { 
    transition: 0.5s;
    transition-timing-function: ease-out;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
.work-img-conteiner:hover .projact-imgs {
    transform: scale(1.2);  
    filter: blur(1px);
}
.see-full-project-conteiner {
    position: absolute;
    transition: .2s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.see-full-project-conteiner a {
    background: #0066FF;
    border-radius: 30px;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 12px 13px;
    font-family: 'Nunito-Regular400', sans-serif;
    font-weight: 600;
        cursor: pointer;
    text-transform: capitalize;
}
    
.work-img-conteiner:hover .see-full-project-conteiner {
    opacity: 1;
}
.work-button-conteiner {
    position: absolute;
    transition: .2s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;

    
}
.work-img-conteiner:hover .work-button-conteiner {
    opacity: 1;
}

.work-section-img-wrapper div button {
    background: #0066FF;
    border-radius: 30px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 12px 18px;
    font-family: 'Nunito-Regular400', sans-serif;
    cursor: pointer;
    text-transform: capitalize;
}

.wrok-section-button-conteiner {
    text-align: center;
}














@media (max-width: 1040px) {
    
    .resume-conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .hamburger {
      display: inline-block;
      /* position: absolute; */
      /* margin-left: 50%;
      margin-top: -17px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; */
    }
    .hamburger.active .line:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active .line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .header-nav-li-conteiner {
      position: fixed;
      right: -100%;
      top: 100px;
      background-color:#FFFFFF;
      width: 200px;
      border-radius: 8px 0px 0px 8px;
      text-align: center;
      transition: 0.3s;
      padding: 50px 0px 40px 0px;
    }
    .header-nav-li-conteiner ul{
      flex-direction: column;
      row-gap: 12px;
    }
    .header-nav-li-conteiner.active {
      right: 0;
    }
    
    /* about me */
    .profile-img-conteiner {
        max-width: 390px;   
    }
    .about-me-section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .about-me-more-button-conteiner {
        display: none;
    }
    .about-me-text-conteiner {
        padding: 100px 104px 0px 84px;
    }
    .icon-contener {
        display: flex;
        flex-direction: row;
        right: 0px;
        top: 22px;
        column-gap: 18px;
        position: inherit;
    }
    .icon-contener div {
        display: none;
    }





    /* work */
    .see-full-project-conteiner a {
        font-size: 12px;
    }
    .work-img-conteiner {
        border-radius: 15px;
        padding: 29px 26px;
        max-width: 200px;
        max-height: 220px;
    }
    .projact-imgs { 
        border-radius: 10px;
    }
    .see-full-project-conteiner a {
        border-radius: 15px;
        font-size: 11px;
        padding: 10px 10px;
        font-weight: 400;
    }
}


@media (max-width: 800px) {
    /* header */
    .header-portfolio-conteiner ul a {
        font-size: 26px;
    }
    .title {
        font-size: 24px;
    }








    /* work */

    .work-img-conteiner {
        border-radius: 10px;
        padding: 19px 16px;
        max-width: 150px;
        max-height: 170px;
    }
    .projact-imgs { 
        border-radius: 8px;
    }
    .see-full-project-conteiner {
        width: 84px;
    }
    .see-full-project-conteiner a {
        border-radius: 12px;
        font-size: 9px;
        line-height: 12px;
        padding: 10px 10px;
    }

}