@font-face {
    font-family: 'Nunito-Regular400', sans-serif;
    src: url(../fonts/Nunito-Regular400.ttf);
}
@font-face {
    font-family: 'Nunito-Medium500', sans-serif;
    src: url(../fonts/Nunito-Medium500.ttf);
}
@font-face {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    src: url(../fonts/Nunito-ExtraBold800.ttf);
}

 
:root {
    --header-text-color: #00FFF5;
    --section-text-color:#00FFF5;
    --third-section-color:#FFFFFF;
    --scrolltop-color: #FFFFFF;
    --button-text-color:#FFFFFF;
}
.conteiner {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.title {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-transform: uppercase;
    color: var(--header-text-color);
    text-align: center;
}
.section-main-button {
    font-family: 'Nunito-Regular400', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: var(--button-text-color);
    background: #00FFF5;
    border-radius: 30px;
    padding: 12px 43px;
    cursor: pointer;
    display: flex;
    text-transform: capitalize;
    border: none;
}
.section-main-button:hover {
    color: black;
    text-shadow: 2px 0px 20px #00fff5;
    transform: scale(1.1);
}
.section-button {
    display: flex;
    justify-content: center;
}
.all-projacts-pages-button {
    font-family: 'Nunito-Regular400', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: var(--button-text-color);
    background: #00FFF5;
    border-radius: 30px;
    padding: 12px 63px;
    cursor: pointer;
    display: flex;
    text-transform: capitalize;
    border: none;
}
.all-projacts-pages-button:hover {
    color: black;
    text-shadow: 2px 0px 20px #00fff5;
    transform: scale(1.1);
}
body {
    background: #03102C;
}










.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 57px;
}
.header-nav-li-conteiner ul {
    display: flex;
    column-gap: 55px;
}
.header-nav-li-conteiner ul li a {
    font-family: 'Nunito-Medium500', sans-serif;
    color: var(--header-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;  
    text-transform: capitalize;
    cursor: pointer;
}
.header-nav-li-conteiner ul li a:hover {
    text-shadow: 2px 0px 20px #00fff5;
    transform: scale(1.1);
}
.header-portfolio-conteiner ul a {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    color: var(--header-text-color);
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    text-transform: uppercase;
    cursor: pointer;
}
.header-portfolio-conteiner ul a:hover {
    text-shadow: 2px 0px 20px #00fff5;
    transform: scale(1.1);
}
.resume-conteiner a {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    color: var(--header-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px dashed #0066FF;
    border-radius: 30px;
    padding: 15px 30px;
}
.resume-conteiner a:hover {
    text-shadow: 2px 0px 20px #00fff5;
    transform: scale(1.1);
}
/* burger bar */
.hamburger {
    display: none;
    cursor: pointer;
}
.line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--header-text-color);
}










/* section about me */
.about-me-section {
    margin: 168px 0 150px 0;
}
.about-me-section-wrapper {
    display: flex;
}
.profile-img-conteiner {
    border: 1px dashed #0066FF;
    border-radius: 30px;
    max-height: 450px;
}
.profile-img-conteiner img {
    border-radius: 30px;
    padding: 30px;
    transition: 0.5s;
    transition-timing-function: ease-out;
}
.profile-img-conteiner img:hover {
    transform: scale(1.1);
}
.about-me-text-conteiner {
    padding: 126px 104px 0px 84px;
    position: relative;
}
.about-me-text-conteiner span {
    font-family: 'Nunito-Medium500', sans-serif;
    color: var(--section-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
}
.about-me-text-conteiner p {
    font-family: 'Nunito-Regular400', sans-serif;
    color: var(--section-text-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    padding: 50px 0px;
    text-transform: initial;
}
.icon-contener {
    display: flex;
    flex-direction: column;
    right: 40px;
    top: 270px;
    row-gap: 24px;
    position: absolute;
}

.icon-contener div {
    border-right: 1px solid #0066FF;
    height: 300px;
    margin-right: 10px;
}

.about-me-more-button-conteiner {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 370px;
}
.about-me-more-button-conteiner button {
    max-width: 50px;
    border-radius: 30px;
    padding: 40px 10px 12px 10px;
    background: inherit;
    color: #00FFF5;
    border: 1px solid #00FFF5;
    cursor: pointer;
}
.about-me-more-button-conteiner button:hover {
    border: 1px solid #0066FF;
}

.about-me-more-button-conteiner div {
    padding-top: 28px;
}
.about-me-more-button-conteiner div span {
    font-family: 'Nunito-Medium500', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #0066FF;
}




/* scroll */
html {
    scroll-behavior: smooth;
}
.to-top {
    background: var(--scrolltop-color);
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
.to-top svg {
    rotate: 180deg;
}
















/*work section */

.work-section-wrapper {
    padding-bottom: 150px;
}
.work-section-img-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1 fr);
    row-gap: 50px;
    column-gap: 70px;
    padding: 40px 0px 60px 0px;
}
.work-img-conteiner {
    position: relative;
    border: 1px dashed #0066FF;
    border-radius: 30px;
    padding: 39px 36px;
    max-width: 360px;
    max-height: 370px;
}
.projact-imgs { 
    transition: 0.5s;
    transition-timing-function: ease-out;
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
.work-img-conteiner:hover .projact-imgs {
    transform: scale(1.2);  
    filter: blur(1px);
}
.see-full-project-conteiner {
    position: absolute;
    transition: .2s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
}
.see-full-project-conteiner a {
    background: #0066FF;
    border-radius: 30px;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 12px 13px;
    font-family: 'Nunito-Regular400', sans-serif;
    font-weight: 600;
        cursor: pointer;
    text-transform: capitalize;
}
    
.work-img-conteiner:hover .see-full-project-conteiner {
    opacity: 1;
}
.work-button-conteiner {
    position: absolute;
    transition: .2s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;

    
}
.work-img-conteiner:hover .work-button-conteiner {
    opacity: 1;
}

.work-section-img-wrapper div button {
    background: #0066FF;
    border-radius: 30px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 12px 18px;
    font-family: 'Nunito-Regular400', sans-serif;
    cursor: pointer;
    text-transform: capitalize;
}

.wrok-section-button-conteiner {
    text-align: center;
}






















/* experience section */
.experience-conteiner {
    padding: 40px 0px 150px 0px;
}
.experience-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.study-time-conteiner {
    color: var(--third-section-color);
    transform: rotate(-90deg);
    font-size: 20px;
    font-family: 'Nunito-Regular400', sans-serif;
    white-space: nowrap;
}
.study-details-conteiner {
    display: flex;
    align-items: center;
    border: 1px dashed #0066FF;
    border-radius: 30px;
    padding: 30px 63px 16px 54px;
}

.study-title-conteiner {
    max-width: 720px;
    width: 100%;
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: var(--third-section-color);
    font-family: 'Nunito-ExtraBold800', sans-serif;
    padding-right: 20px;
}

.study-title-conteiner *:nth-child(2) {
    display: inline-block;
    margin-top: 22px;
}

.study-text-conteiner p {
    font-family: 'Nunito-Regular400', sans-serif;
    border: 1px dashed blue;
    color: var(--third-section-color);
    font-size: 16px;
    line-height: 22px;
    border: none;
}
.study-text-conteiner ul :first-child {
    padding-bottom: 19px;
}
.study-text-conteiner  {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.study-text-conteiner button {
    font-size: 16px;
    line-height: 22px;
    color: var(--third-section-color);
    font-family: 'Nunito-Regular400', sans-serif;
    border: none;
    background: none;
    padding-top: 19px;
    cursor: pointer;
    text-transform: capitalize;
}
.study-text-conteiner button:hover {
    text-shadow: 2px 0px 20px #00fff5;
    transform: scale(1.1);
}





















/* contact-section */
.footer-span-conteiner {
    padding: 52px 0px 72px;
    text-align: center;
    color: var(--third-section-color);
    display: flex;
    flex-direction: column;
}
.footer-span-conteiner :first-child {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}
.footer-span-conteiner :nth-child(2) {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    padding-top: 24px;
}
.footer-main-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 64px;
}
.footer-main-conteiner {
    border: 1px dashed #0066FF;
    border-radius: 30px;
    padding: 53px 32px;
}
.footer-contact-wrapper *:nth-child(2) {
    padding-top: 23px;
}
.footer-contact-wrapper a {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: var(--third-section-color);
    font-family: 'Nunito-Medium500', sans-serif;
    margin-left: 30px;
}
.contact-icon-conteiner {
    display: flex;
    justify-content: space-evenly;
    padding-top: 35px;
}
.macbook-img {
    max-width: 495px;
    width: 100%;
}
.macbook-wrapper {
    max-width: 495px;
    width: 100%;
    margin-left: 20px;
}






/* all projects */
.all-projacts-section{
    margin-top: 160px;
}
.all-projects-wrapper {
   margin: 70px 0px 200px 20px;
}
.projects-conteiner {
    display: flex;
    column-gap: 122px;
    margin-bottom: 60px;
}
.projects-conteiner img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 30px;
}
.projects-conteiner h5 {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    color: var(--section-text-color);
    font-weight: 800;
    font-size: 30px;
    line-height: 41px
}
.projects-conteiner span {
    display: inline-block;
    font-family: 'Nunito-ExtraBold800', sans-serif;
    color: var(--section-text-color);
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    margin: 15px 0px 25px 0px;
}
.projects-conteiner p {
    font-family: 'Nunito-ExtraBold800', sans-serif;
    color: var(--section-text-color);
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
}
.project-details-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
























@media (max-width: 1040px) {

    button {
        border-radius: 25px;
        padding: 12px 33px;
        font-size: 16px;
        line-height: 19px;
    }
    .title {
        font-size: 22px;
    }
    .resume-conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hamburger {
      display: inline-block;
      /* position: absolute; */
      /* margin-left: 50%;
      margin-top: -17px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; */
    }
    .hamburger.burger-active .line:nth-child(2) {
      opacity: 0;
    }
    .hamburger.burger-active .line:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.burger-active .line:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .header-nav-li-conteiner {
      position: fixed;
      right: -100%;
      top: 120px;
      background-color:#FFFFFF;
      width: 200px;
      border-radius: 8px 0px 0px 8px;
      text-align: center;
      transition: 0.3s;
      padding: 50px 0px 40px 0px;
    }
    .header-nav-li-conteiner ul{
      flex-direction: column;
      row-gap: 12px;
    }
    .header-nav-li-conteiner.menu-active {
      right: 0;
    }
    
    /* about me */
    .profile-img-conteiner {
        max-width: 390px;   
    }
    .about-me-section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .about-me-more-button-conteiner {
        display: none;
    }
    .about-me-text-conteiner {
        padding: 100px 104px 0px 84px;
    }
    .icon-contener {
        display: flex;
        flex-direction: row;
        right: 0px;
        top: 22px;
        column-gap: 18px;
        position: inherit;
    }
    .icon-contener div {
        display: none;
    }





    /* work */
    .see-full-project-conteiner a {
        font-size: 12px;
    }
    .work-img-conteiner {
        border-radius: 15px;
        padding: 29px 26px;
        max-width: 300px;
        max-height: 250px;
    }
    .projact-imgs { 
        border-radius: 10px;
    }
    .see-full-project-conteiner a {
        border-radius: 15px;
        font-size: 11px;
        padding: 10px 10px;
        font-weight: 400;
    }
    /* experience */

    .study-details-conteiner {
        padding: 40px 33px 16px 34px;
    }
    .study-title-conteiner {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
    }
    .study-text-conteiner p {
        font-size: 14px;
        line-height: 22px;
    }
    .study-time-conteiner {
        font-size: 18px;
    }
    
    /* contact */
    .footer-span-conteiner :first-child {
        font-size: 22px;
    }
    .footer-span-conteiner :nth-child(2) {
        font-size: 18px;
    }
    .footer-main-conteiner {
        border-radius: 20px;
        padding: 33px 22px;
    }
    .footer-contact-wrapper a {
        font-size: 16px;
        line-height: 20px;
        margin-left: 25px;
    }
    .macbook-wrapper {
        max-width: 395px;
    }

}


@media (max-width: 800px) {

    button {
        border-radius: 20px;
        padding: 10px 23px;
        font-size: 14px;
        line-height: 16px;
    }
    .title {
        font-size: 20px;
    }
    /* header */
    .header-portfolio-conteiner ul a {
        font-size: 24px;
    }
    .resume-conteiner a {
        font-size: 14px;

    }
    








    /* work */
    .work-section-img-wrapper {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 70px;
        padding: 40px 0px 60px 0px;
    }
    .work-img-conteiner {
        border-radius: 10px;
        padding: 19px 16px;
        max-width: 150px;
        max-height: 170px;
    }
    .work-img-conteiner {
        max-width: 300px;
        max-height: 260px;
    }
    .projact-imgs { 
        border-radius: 8px;
    }
    .see-full-project-conteiner a {
        border-radius: 12px;
        font-size: 9px;
        line-height: 12px;
        padding: 10px 10px;
    }






    /* experience */
    .study-details-conteiner {
        padding: 40px 33px 16px 34px;
    }
    .study-title-conteiner {
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
    }
    .study-text-conteiner p {
        font-size: 10px;
        line-height: 12px;
    }
    .study-time-conteiner {
        font-size: 12px;
    }
    .study-text-conteiner button {
        font-size: 10px;
        line-height: 12px;
        padding-top: 10px;
    }
    .to-top {
        right: 32px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 32px;
    }




    
    /* contact */
    .contact-span-conteiner :first-child {
        font-size: 18px;
    }
    .contact-span-conteiner :nth-child(2) {
        font-size: 14px;
    }
    .contact-section-conteiner {
        border-radius: 20px;
        padding: 23px 12px;
    }
    .contact-wrapper a {
        font-size: 12px;
        line-height: 20px;
        margin-left: 20px;
    }
    .macbook-wrapper {
        max-width: 395px;
        margin-left: 0px;
    }
    .footer-main-wrapper {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 30px;
    }

}